*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(148, 38%, 91%);
}
.form_container{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 13% 13% 15% 25% 25px 45px;
    grid-gap: 12px;
    width: 100%;
    justify-content: center;
}
h1{
    font-size: 22px;
    color: hsl(187, 24%, 22%);
    margin-bottom: 10px;
}
.required{color: hsl(169, 82%, 27%);}
.p_error{
    display: none;
    color: hsl(4, 69%, 50%);
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
label{
    display: flex;
    flex-direction: row;
    color: hsl(187, 24%, 22%);
}
input, textarea{
    font-size: 16px;
    padding: 8px;
    color: hsl(187, 24%, 22%);
}
input:hover, textarea:hover{cursor: pointer;}
input:focus, textarea:focus{
    border: solid 0;
    background-color: transparent;
    outline: none;
}
placeholder{color: hsl(186, 15%, 59%);}
.first_name_container{grid-column: 1/2;}
#first_name{
    height: 35px;
    width: 100%;
    border: 1.25px solid hsl(186, 15%, 59%);
    border-radius: 5px;
}
#first_name:focus{border-color: hsl(169, 82%, 27%);}
.last_name_container{grid-column: 2/3;}
#last_name{
    height: 35px;
    width: 100%;
    border: 1.25px solid hsl(186, 15%, 59%);
    border-radius: 5px;
}
#last_name:focus{border-color: hsl(169, 82%, 27%);}
.email_container{grid-column: 1/3;}
#email{
    height: 35px;
    width: 100%;
    border: 1.25px solid hsl(186, 15%, 59%);
    border-radius: 5px;
}
#email:focus{border-color: hsl(169, 82%, 27%);}
.query_type_container{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.query_type_container_1 .p_error{margin-top: -10px;}
.query_type_container_1{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 12px;
}
.radio_1, .radio_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1.25px solid hsl(186, 15%, 59%);
    border-radius: 5px;
}
.query_type_container_1 .radio_1{grid-column: 1;}
.query_type_container_1 .radio_2{grid-column: 2;}
.query_type_container_1 span input{
    margin-left: 8px;
    accent-color: hsl(169, 82%, 27%);
    height: 35px;
    cursor: pointer;
}
.query_type_container_1 span label{
    color: hsl(186, 15%, 59%);
    font-size: 18px;
    margin-left: 8px;
}
.message_container{grid-column: 1/3;}
#message{
    border: 1.5px solid hsl(186, 15%, 59%);
    border-radius: 5px;
    font-size: 19px;
    color: hsl(187, 24%, 22%);
    width: 100%;
    height: 80px;
}
.consent_1{
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.consent_1 input[type="checkbox"]{
    accent-color: hsl(169, 82%, 27%);
    margin-right: 5px;
}
button[type="submit"]{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(169, 82%, 27%);
    color: hsl(0, 0%, 100%);
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-out;
}
button[type="submit"]:hover{transform: scale(1.1);}
button[type="submit"]:active{background-color: hsl(187, 24%, 22%);}
.message_sent{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(187, 24%, 22%);
    border-radius: 8px;
    height: 80px;
    padding: 10px;
    position: relative;
    top: 25px;
    transform: translate(5%, 50%);
    transition: 1s ease-out;
    z-index: 1;
}
.message_sent h2{
    color: hsl(0, 0%, 100%);
    font-size: 25px;   
}
.message_sent p{
    color: hsl(186, 15%, 59%);
    font-size: 16px;
}
@media screen and (max-width:1000px) {
    .form_container{
        position: absolute;
        top: 2.5%;
        left: 10%;
        width: 80%;
        height: 95%;
    }
}
@media screen and (max-width:450px){
    .form_container{
        position: absolute;
        left: 1%;
        width: 90%;
        height: 625px;
        padding: 8px;
    }
    form{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 11% 11% 11% 20% 21% 25px 45px;
        grid-gap: 12px;
        width: 100%;
    }
    .first_name_container{ grid-column: 1;}
    .last_name_container{grid-column: 1;}
    .email_container{grid-column: 1;}
    .query_type_container{grid-column: 1;}
    .query_type_container_1{
        display: grid;
        grid-template-columns: 100%;
        grid-row: 15% 15%;
        grid-gap: 12px;
    }
    .query_type_container_1 .radio_1{ grid-column: 1;}
    .query_type_container_1 .radio_2{ grid-column: 1;}
    .message_container{grid-column: 1;}
    .consent_1{grid-column: 1;}
    button[type="submit"]{grid-column: 1;}
}